<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.bigdata.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.wxy.bigdata.entity.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="seller_uuid" jdbcType="VARCHAR" property="sellerUuid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="opendId" jdbcType="VARCHAR" property="opendid" />
    <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `account`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.wxy.bigdata.entity.Account" useGeneratedKeys="true">
    insert into `account` (uuid, seller_uuid, phone, 
      name, password, address, 
      email, opendId, registerTime, 
      login_time)
    values (#{uuid,jdbcType=VARCHAR}, #{sellerUuid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{opendid,jdbcType=VARCHAR}, #{registertime,jdbcType=TIMESTAMP}, 
      #{loginTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wxy.bigdata.entity.Account">
    update `account`
    set uuid = #{uuid,jdbcType=VARCHAR},
      seller_uuid = #{sellerUuid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      opendId = #{opendid,jdbcType=VARCHAR},
      registerTime = #{registertime,jdbcType=TIMESTAMP},
      login_time = #{loginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, uuid, seller_uuid, phone, name, password, address, email, opendId, registerTime, 
    login_time
    from `account`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, uuid, seller_uuid, phone, name, password, address, email, opendId, registerTime, 
    login_time
    from `account`
  </select>
  <resultMap id="BaseResultMap" type="com.wxy.bigdata.entity.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="seller_uuid" jdbcType="VARCHAR" property="sellerUuid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="opendId" jdbcType="VARCHAR" property="opendid" />
    <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `account`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.wxy.bigdata.entity.Account" useGeneratedKeys="true">
    insert into `account` (uuid, seller_uuid, phone, 
      name, password, address, 
      email, opendId, registerTime, 
      login_time)
    values (#{uuid,jdbcType=VARCHAR}, #{sellerUuid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{opendid,jdbcType=VARCHAR}, #{registertime,jdbcType=TIMESTAMP}, 
      #{loginTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wxy.bigdata.entity.Account">
    update `account`
    set uuid = #{uuid,jdbcType=VARCHAR},
      seller_uuid = #{sellerUuid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      opendId = #{opendid,jdbcType=VARCHAR},
      registerTime = #{registertime,jdbcType=TIMESTAMP},
      login_time = #{loginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, uuid, seller_uuid, phone, name, password, address, email, opendId, registerTime, 
    login_time
    from `account`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, uuid, seller_uuid, phone, name, password, address, email, opendId, registerTime, 
    login_time
    from `account`
  </select>
</mapper>