<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxy.bigdata.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wxy.bigdata.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="seller_uuid" property="sellerUuid" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="opend_id" property="opendId" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `user`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wxy.bigdata.entity.User" useGeneratedKeys="true" keyProperty="id" >
    insert into `user` (uuid, seller_uuid, phone, 
      username, password, address, 
      email, opend_id, reg_time, 
      login_time)
    values (#{uuid,jdbcType=VARCHAR}, #{sellerUuid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{opendId,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, 
      #{loginTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wxy.bigdata.entity.User" >
    update `user`
    set uuid = #{uuid,jdbcType=VARCHAR},
      seller_uuid = #{sellerUuid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      opend_id = #{opendId,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      login_time = #{loginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, uuid, seller_uuid, phone, username, password, address, email, opend_id, 
    reg_time, login_time
    from `user`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, uuid, seller_uuid, phone, username, password, address, email, opend_id, 
    reg_time, login_time
    from `user`
  </select>

  <select id="query" resultMap="BaseResultMap" parameterType="java.lang.String">
   select id, uuid, seller_uuid, phone, username, password, address, email, opend_id,
    reg_time, login_time
    from `user` WHERE username=#{username} and password=#{password}
  </select>


</mapper>